{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}{{title}}{% endblock%}
{% block css_block %}
<style>
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

}
  .sign_up {
    width: 550;
    border: 1px solid #ccc;
    padding: 40px;
  }
  .sign_up input{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  /* .sign_up ul{
    display: none;
  } */
  .login {
    width: 550px;
    padding: 25px;
    border: 1px solid #ccc;
  }
</style>

{% endblock %}
{% block body_block %}
<div class='center'>
  <div class="sign_up">
    <h3>Sign up to see photos from your friends.</h3>
    <form method="POST">
      {{form|crispy}}
      {% csrf_token %}
      <br>
      <button type="submit" style="width:100%" class="btn btn-success">Sign Up</button>
    </form>
  </div>
  <br>
  <div class="login">
    <p>Have an account? <a href="{% url 'App_Login:login' %}">Login</a> </p>
  </div>
</div>
{% endblock %}
